In [1]:
# ðŸ““ 02_kpi_analysis.ipynb

# ## Step 1: Setup
import sys
import os
import pandas as pd

sys.path.append(os.path.abspath(".."))

from src.kpi_calculator import simulate_material_master, calculate_kpis

In [2]:
# ## Step 2: Load cleaned data
df_clean = pd.read_csv("../data/cleaned_retail_data.csv")
df_clean.head()

C:\Users\pandi\AppData\Local\Temp\ipykernel_73860\3963920442.py:2: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  df_clean = pd.read_csv("../data/cleaned_retail_data.csv")

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,White Hanging Heart T-Light Holder,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,White Metal Lantern,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,Cream Cupid Hearts Coat Hanger,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,Knitted Union Flag Hot Water Bottle,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,Red Woolly Hottie White Heart.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
# ## Step 3: Simulate Material Master Table
df_materials = simulate_material_master(df_clean)
df_materials.head()

,MaterialNumber,MaterialDescription,MaterialType,BaseUnit,ProcurementType,Plant,ValuationClass
0,85123A,White Hanging Heart T-Light Holder,HALB,EA,E,1000,3000
1,71053,White Metal Lantern,HALB,EA,E,1000,3000
2,84406B,Cream Cupid Hearts Coat Hanger,HALB,EA,E,1000,3000
3,84029G,Knitted Union Flag Hot Water Bottle,HALB,EA,E,1000,3000
4,84029E,Red Woolly Hottie White Heart.,HALB,EA,E,1000,3000

In [4]:
# ## Step 4: View structure and sample
print(df_materials.dtypes)
print(df_materials["MaterialType"].value_counts())

MaterialNumber         object
MaterialDescription    object
MaterialType           object
BaseUnit               object
ProcurementType        object
Plant                  object
ValuationClass         object
dtype: object
MaterialType
HALB    4037
FERT     121
Name: count, dtype: int64

In [5]:
# ## Step 5: KPI Analysis
kpi_results = calculate_kpis(df_materials)

for k, v in kpi_results.items():
    print(f"{k}: {v}")

Total Materials: 4158
Missing Descriptions: 0
Duplicate Material Numbers: 236
Unique Material Types: 2
Materials with Short Description (<5 chars): 0
% Missing Descriptions: 0.0

In [6]:
# ## Step 6: Save for dashboard use
df_materials.to_csv("../data/simulated_material_master.csv", index=False)
print("âœ… Simulated material master data saved.")

âœ… Simulated material master data saved.